<% include partials/header %>
    <title>YelpCamp - Sign Up</title>
<% include partials/nav %>

    <div class="container">
        <div class="row">
            <h1 class="text-center">Sign Up</h1>
            
            <div id="addCamp">
                <form action="/register" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up">
                    </div>
                </form>
                
                <p>Already have an account? Login <a href="/login">here</a>!</p>
            </div>
        </div>
    </div>
    
<% include partials/footer %>