<% include partials/header %>
<h1><% if(hanginthere) { %>%<% }else { %><%= msg %><% } %></h1>
<p>
    <% for(var i = 0; i < ctr; i++) {%><%= msg + ' ' %><% } %><% if(hanginthere) { %>Get out of<br>
        Get.<br>
        Out.<br>
        Of.<br>
        My.<br>
        Head.<br><br><br><br>
        Get out of my head before I do what I know is best for you.<br>
        Get out of my head before I listen to everything she said to me.<br>
        Get out of my head before I show you how much I love you.<br>
        Get out of my head before I finish writing this poem.<br><br><br><br><br><br><br><br><br>
        But a poem is never actually finished.<br>
        It just stops moving.<% } %>
</p>
<% include partials/footer %>