</head>

<body>
    <div class="ui fixed blue inverted menu">
        <div class="ui container">
            <div class="header item"><i class="free code camp icon"></i>RESTful Blog</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>